.hero{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_container{
  min-height: 50vh;
  width: 80%;
  display: grid;
  grid-template-rows: auto-fill  5% 10% 25% 10% 5% ;
  grid-template-columns: 65% 35%;
  grid-template-areas: 
  "item1 photo"
  "item2 photo"
  "item3 photo"
  "item4 photo"
  "item5 photo";
}
.hi{
  display: flex;
  align-items: end;
  grid-area: item1;
}
.name{
  grid-area: item2;
}
.title{
  display: flex;
  align-items: center;
  grid-area: item3;
  
}
.description{
  grid-area: item4;
}
.button{
  grid-area: item5;
}

.img{
  grid-area: photo;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.img-container{
  background-color: transparent;
  z-index: 2;
  height: 350px;
  width: auto;
}
.img {


}
.heroImg{
  border-radius: 50%;
  height: 100%;
}

.intro{
  color: white;
  background-color: transparent;
}

.name h1{
  font-size: 4rem;
  font-weight: 900;
  font-family: "Inconsolata", monospace;
  z-index: 999;

}

.hi h1{
  color: #00E5FF;
    font-family: "Inconsolata", monospace;
    font-size: 1.2rem;
    font-weight: 600;
}

.title p{
    font-size: 2.4rem;
  font-weight: 700;
  opacity: .8;
}
@media (max-width: 1455px) {
  .title p {
    font-size: 2.2rem;
  }
  .img-container{
    margin-left: 50px;
  }
}@media (max-width: 1000px) {
  .title p {
    font-size: 1.8rem;
  }
   .img-container{
    margin-left: 0px;
  }
   .hero_container{
  grid-template-rows: auto-fill  40% 5% 10% 25% 10% 5% ;
  grid-template-columns:  15% 80%;
  
  grid-template-areas: 
  "photo photo"
  "item1 item1"
  "item2 item2"
  "item3 item3"
  "item4 item4"
  "item5 item5";
  justify-content: center;
}
}

@media (max-width: 800px) {
.name h1{
  font-size:7vw;
  } 
 
.img-container{
  height: 40vw;
  width: 40vw;
}

.header{
  margin-top: 50px ;
}
 .center-text{
    text-align: center;
  }
   .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 700px) {
.title p {
    font-size: 1.7rem;
    text-align: center;
  }
 
  .hi h1{
    font-size: .7rem;
    text-align: center;
  }
}
@media (max-width: 550px) {
.title p {
    font-size: 5vw;
  }
  .header{
  margin-top: 20px ;
}
  
}
@media (max-height: 480px){
  .header{
    margin-top: 10vh;
  }
}