.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(13, 27, 42, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1rem 0 !important; 
  z-index: 1000;
}

.nav-links {
  background-color: transparent;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 !important;
  padding: 0 !important;
}
.nav-links li{
  background-color: transparent;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 500;
  background-color: transparent;
  transition: color 0.3s, font-size 0.2s;
}

.nav-links li a:hover {
  font-size: 1rem;
  color: #61dafb;
}
